<div class="center jumbotron">
  <h1>Hello, World!</h1>

  <h2>
    Sharing my 100 days of code journey by writing a blog. How original :P.
  </h2>
  <%= link_to "New Post", '#', class: "btn btn-lg btn-primary" %>
</div>

<div>
  <table>
    <tr>
      <th>Title</th>
      <th>Text</th>
      <th colspan="2"></th>
    </tr>

    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= link_to 'Show', post_path(post) %></td>
      </tr>
    <% end %>
  </table>
</div>
